# Broker
BROKER_HOST=rabbitmq
BROKER_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# Banco de dados — um por serviço
PEDIDO_DB_URL=postgresql://postgres:postgres@pedido-db:5432/pedido
PAGAMENTO_DB_URL=postgresql://postgres:postgres@pagamento-db:5432/pagamento
LOGISTICA_DB_URL=postgresql://postgres:postgres@logistica-db:5432/logistica

# Portas dos serviços
PEDIDO_PORT=8001
PAGAMENTO_PORT=8002
LOGISTICA_PORT=8003
DASHBOARD_PORT=8050

# Taxa dos mocks
TAXA_ANTIFRAUDE=1
TAXA_CATALOGO=1

# URLs dos serviços (usadas pelo dashboard dentro do Docker)
PEDIDO_URL=http://pedido:8001
PAGAMENTO_URL=http://pagamento:8002
LOGISTICA_URL=http://logistica:8003
